<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <img src="logo/logo.png" alt="" height="40px" width="30px">
   <%- include('../includes/navigation.ejs') %>
   
    <main>
   <%if(errorMessage){%>
    
         <div class='error-message'> <%= errorMessage %> </div>

    <% }%>
        <form class="login-form" action="<%= postPath%>" method="POST">
            <div class="form-control">
                <label for="">Email</label>
                <input type="email" name="email" id="email" value="<% if (hasErrors) { %><%= previousData.email%><% } %>">
            </div>
            <div class="form-control">
                <label for="password"> Password </label>
                <input type="password" name ="password" id="password" value="<% if (hasErrors) { %><%= previousData.password%><% } %>"/>
            </div>
             <input type="hidden" name='_csrf' value='<%= csrfToken %>'>
            <input class="btn" type="submit" value="Login">
        </form>
        <div class='centered'>
               <a href="reset">Reset Password</a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>

    