<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
   <%if(errorMessage){%>
    
         <div class='error-message'> <%= errorMessage %> </div>

    <% }%>
        <form class="login-form" action="<%= postPath%>" method="POST">
            <div class="form-control">
                <label for="">email</label>
                <input type="email" name="email" id="email" value="email">
            </div>
             <input type="hidden" name='_csrf' value='<%= csrfToken %>'>
            <input class="btn" type="submit" value="Reset">
        </form>
    </main>
<%- include('../includes/end.ejs') %>

    