<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <%  if(errorMessage) {%>
    
         <div class='error-message'> <%= errorMessage %> </div>

    <% }%>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="file">upload file</label>
                <input type="file" name ="image" id="image" value="<% if (editing) { %><%= product.ImageUrl %><% } %>"/>
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" id="quantity" value="<% if (editing) { %><%= product.quantity %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if (editing) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product.id %>" name="productId">
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input class="btn" type="submit" value='<% if (editing) { %>Update Product<% } else { %>Add Product<% } %> '>
        </form>
    </main>
<%- include('../includes/end.ejs') %>