<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        Name:  <%= product.title %>
                                    </h1>
                                </header>
                                <div  class="card__image" >
                                    <img src="/<%= product.ImageUrl %>" alt="<%= product.title %>">
                                </div>

                                <div class="card__content">
                                    <h2 class="product__price">
                                       Price: $ <%= product.price %>
                                    </h2>
                                    <br>

                                    <p class="product__description">
                                        Description: <%= product.description %>
                                    </p>
                                    <br>
                                    <br>
                                    <p class="product__description">
                                        Stock:<%= product.quantity %>
                                    </p>
                                    <br>
                                    <p class="product__price">
                                        Managed By:<%= product.adminName %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-product/<%= product.id %>?edit=true" class="btn">Edit</a>
                                    <form action="/admin/delete-product" method="POST">
                                        <input type="hidden" value="<%= product.id %>" name="productId">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>