<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/sales.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/css/all.min.css">
</head>
<body>
    <%- include('../includes/admin-nav.ejs') %>
    <div class="container">
        <% if (sales.length>0) { %>
        <div class="grid">
            <% for (let product of sales) { %>
            <article class="card product-item">
                <header class="card__header">
                    <p>
                        <%= product.productData.title %>
                    </p>
                </header>
                <div class="card__image">
                    <img src="<%= product.productData.imageUrl %>" alt="<%=product.productData.title %>">
                </div>
                <div class="card__content">
                    <h3>Profit</h3>
                    <p style="color:rgb(134, 133, 133);">Kshs
                        <%= product.profit %></p>


                    <h3>Total Sale</h3>
                    <p style="color:rgb(134, 133, 133);">Kshs
                        <%= product.total %></p>

                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1 class=" centered">No Sales Yet!</h1>
        <% } %>
    </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <canvas id="myChart" width="10%" height="10%"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
</body>

</html>