<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"
          >Products</a
        >
      </li>
      <% if (isUserLoggedIn) { %>
      <li class="main-header__item">
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders"
          >Orders</a
        >
      </li>
      <% } %> <% if (isAdminLoggedIn&&!isUserLoggedIn) { %>
      <li class="main-header__item">
        <a
          class="<%= path === '/admin/add-product' ? 'active' : '' %>"
          href="/admin/add-product"
          >Add Product
        </a>
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/admin/products' ? 'active' : '' %>"
          href="/admin/get-admin-sales"
          >See Your Sales
        </a>
      </li>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <!-- added the second agurment is not admin to make sure that admin dont get the login
      and sign up forms -->
      <% if (!isUserLoggedIn&&!isAdminLoggedIn) { %>
      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/user/auth/login"
          >Login</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/user/auth/signup"
          >Sign Up</a
        >
      </li>
      <% } %> 
      <% if (!isAdminLoggedIn&&!isUserLoggedIn) { %>
      <li class="main-header__item">
        <a
          class="<%= path === '/admin/login' ? 'active' : '' %>"
          href="/admin/auth/login"
        >
          Admin Login</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/admin/signup' ? 'active' : '' %>"
          href="/admin/auth/signup"
        >
          Admin Sign Up</a
        >
      </li>
      <% } %> <% if (isAdminLoggedIn||isUserLoggedIn) { %>
      <li class="main-header__item">
        <form action="<% if (isAdminLoggedIn) { %>/admin/auth/logout<% } else { %>/user/auth/logout<% } %>" method="post">
          <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
          <button
            class="<%= path === '/logout' ? 'active' : '' %>"
            type="submit"
          >
            Logout
          </button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>

<!-- the mobile view navigation setting -->

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"
        >Products</a
      >
    </li>

    <% if (!isUserLoggedIn&&!isAdminLoggedIn) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
        >Login</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
        >Sign Up</a
      >
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/signup' ? 'active' : '' %>"
        href="/admin/signup"
      >
        Admin Sign Up</a
      >
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/login' ? 'active' : '' %>"
        href="/admin/login"
      >
        Admin Login</a
      >
    </li>
      <% } %>
    <% if (isUserLoggedIn) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders"
        >Orders</a
      >
    </li>
    
    <% } %> 
    <% if (isAdminLoggedIn) { %>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/add-product' ? 'active' : '' %>"
        href="/admin/add-product"
        >Add Product
      </a>
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/products' ? 'active' : '' %>"
        href="/admin/products"
        >Admin Products
      </a>
    </li>
    <% } %> <% if (isAdminLoggedIn||isUserLoggedIn) { %>
    <li class="mobile-nav__item">
      <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="<%= path === '/logout' ? 'active' : '' %>" type="submit">
          logout
        </button>
      </form>
    </li>
    <% } %>
  </ul>
</nav>
