<div class="backdrop"></div>
<header class="main-header">
  <h1>SM Online Shop</h1>
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <%- include('./nav-sections/web/general.ejs') %>
      <% if (isUserLoggedIn) { %>
      <%- include('./nav-sections/web/userLoggedIn.ejs') %>
      <% } %> <% if (isAdminLoggedIn&&!isUserLoggedIn) { %>
      <%- include('./nav-sections/web/adminLoggedIn.ejs') %>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if (!isUserLoggedIn&&!isAdminLoggedIn) { %>
      <%- include('./nav-sections/web/guest.ejs') %>
      <% } %>
      <% if (isAdminLoggedIn||isUserLoggedIn) { %>
      <%- include('./nav-sections/web/logout.ejs') %>
      <% } %>
    </ul>
  </nav>
</header>
<!-- the mobile view navigation setting -->
<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <%- include('./nav-sections/mobile/general.ejs') %>
    <% if (isUserLoggedIn) { %>
    <%- include('./nav-sections/mobile/userLoggedIn.ejs') %>
    <% } %> <% if (isAdminLoggedIn&&!isUserLoggedIn) { %>
    <%- include('./nav-sections/mobile/adminLoggedIn.ejs') %>
    <% } %>
    <% if (!isUserLoggedIn&&!isAdminLoggedIn) { %>
    <%- include('./nav-sections/mobile/guest.ejs') %>
    <% } %>
    <% if (isAdminLoggedIn||isUserLoggedIn) { %>
    <%- include('./nav-sections/mobile/logout.ejs') %>
    <% } %>
  </ul>
</nav>
<main>
  <%if(error){%>
  <div class='error-message'> <%= error %> </div>
  <% }%>
  <%if(info){%>
  <div class='info'> <%= info %> </div>
  <% }%>