<div class="backdrop"></div>
<header class="main-header">
  <%- include('./logo') %>
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <%- include('./admin-nav-sections/web/general') %>
      <% if (isAdminLoggedIn&&!isUserLoggedIn) { %>
      <%- include('./admin-nav-sections/web/adminLoggedIn') %>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if (!isUserLoggedIn&&!isAdminLoggedIn) { %>
      <%- include('./admin-nav-sections/web/guest') %>
      <% } %>
      <% if (isAdminLoggedIn||isUserLoggedIn) { %>
      <%- include('./logout') %>
      <% } %>
    </ul>
  </nav>
</header>
<!-- the mobile view navigation setting -->
<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <%- include('./admin-nav-sections/mobile/general') %>
    <% if (isAdminLoggedIn&&!isUserLoggedIn) { %>
    <%- include('./admin-nav-sections/mobile/adminLoggedIn') %>
    <% } %>
    <% if (!isUserLoggedIn&&!isAdminLoggedIn) { %>
    <%- include('./admin-nav-sections/mobile/guest') %>
    <% } %>
    <% if (isAdminLoggedIn||isUserLoggedIn) { %>
    <%- include('./logout') %>
    <% } %>
  </ul>
</nav>
<main>
<%- include('./error-info') %>