<div class="backdrop"></div>
<header class="main-header">
  <%- include('./logo') %>
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <% if (isUserLoggedIn) { %>
        <%- include('./user-nav-sections/web/icon.ejs') %>
        <% } %>
      <%- include('./user-nav-sections/web/general.ejs') %>
      <% if (isUserLoggedIn) { %>
      <%- include('./user-nav-sections/web/userLoggedIn.ejs') %>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if (!isUserLoggedIn&&!isAdminLoggedIn) { %>
      <%- include('./user-nav-sections/web/guest.ejs') %>
      <% } %>
      <% if (isAdminLoggedIn||isUserLoggedIn) { %>
      <%- include('./logout') %>
      <% } %>
    </ul>
  </nav>
</header>
<!-- the mobile view navigation setting -->
<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <%- include('./user-nav-sections/mobile/general.ejs') %>
    <% if (isUserLoggedIn) { %>
    <%- include('./user-nav-sections/mobile/userLoggedIn.ejs') %>
    <% } %> 
    <% if (!isUserLoggedIn&&!isAdminLoggedIn) { %>
    <%- include('./user-nav-sections/mobile/guest.ejs') %>
    <% } %>
    <% if (isAdminLoggedIn||isUserLoggedIn) { %>
    <%- include('./logout') %>
    <% } %>
  </ul>
</nav>
<main id="main">
<%- include('./error-info') %>