<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/css/all.min.css">

</head>


<body>
    <%- include('../includes/user-nav.ejs') %>
    <article class="container cart__item-list">
        <% if (products.length > 0) { %>
        <ul>
            <div class="grid cart__item  header">
                <h1>Product</h1>
                <h1>Quantity</h1>
                <h1>Total</h1>
                <h1>Action</h1>
            </div>
            <% products.forEach(p => { %>
            <li class="grid cart__item ">
                <h1> <%= p.productData.title %> </h1>
                <h1><%= p.quantity %></h1>
                <h1> ksh
                    <%= (p.quantity*p.productData.sellingPrice).toFixed(2) %></h1>
                <form action="/cart-delete-item" method="POST">
                    <input type="hidden" value="<%= p.productData._id %>" name="productId">
                    <%- include('../includes/csurf.ejs') %>
                    <input class="btn delete" type="submit" value='delete'>
                </form>
            </li>
            <% }) %>
        </ul>
        <strong class="grid cart__item ">Total Price <span class="total">ksh <%= total %></span></strong> <br>
        <form action="/create-order" method="POST">
            <%- include('../includes/csurf.ejs') %>
            <input id='order-now' class="btn cart__item " type="submit" value='Order Now!!'>
        </form>

        <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
    </article>
    </main>
    <%- include('../includes/end.ejs') %>