<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/css/all.min.css">
</head>
<%- include('../includes/user-nav.ejs') %>
<main class="centered">
    <h1><%= product.title %></h1>
    <hr>
    <div style="height: 16rem; width:12rem; margin:auto">
        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    </div>
    <h2> Kshs <%= product.sellingPrice%></h2>
    <p><%= product.description %></p>
    <%- include('../includes/add-to-cart.ejs', {product: product,page:currentPage}) %>
</main>
<%- include('../includes/end.ejs') %>