<div class="form-control">
    <label for="<%= fieldName %>"><%= label %></label>
    <input type="number" name="<%= fieldName %>" id="<%= fieldName %>" step="any" value="<%= previousData[fieldName] %>">
</div>