<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>
<%- include('../includes/navigation.ejs') %>
<% if (orders.length <= 0) { %>
<h1>Nothing there!</h1>
<% } else { %>
<ul class=" orders">
    <% orders.forEach(order => { %>
    <li class="card orders__item">
        <h1 class="order_header">Order - # <%= order._id %></h1>
        <h1><%= order.time.toDateString()%></h1>
        <ul class="orders__products">
            <% order.products.forEach(p=> { %>
            <strong>

                <li class="orders__products-item"> Name: <%= p.productData.title %> (<%= p.quantity %>)</li>
            </strong>
            <% }); %>
        </ul>
        <a href="/orders/<%= order.id%>" class="btn order-btn">Download Invoice</a>
    </li>

    <% }); %>

</ul>
<% } %>
</main>
<%- include('../includes/end.ejs') %>