<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/user-nav.ejs') %>
    <div class=" form grid">
        <article class="card">
            <form class="product-form" action="/<%= postPath %>" method="POST">
                <%- include('../includes/textFields/name.ejs') %>
                <%- include('../includes/textFields/email.ejs') %>
                <%- include('../includes/csurf.ejs') %>
                <div class="form-control">
                    <label for="title">Tel</label>
                    <input type="text" placeholder="Your Telphone" name="tel" id="tel" value="<%= previousData.tel %>">
                </div>
                <input class="btn" id='change-details' type="submit" value="Change Details">
            </form>
        </article>
    </div>
    </main>
    <%- include('../includes/end.ejs') %>