<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/sales.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/css/all.min.css">
</head>
<body>
    <%- include('../includes/admin-nav.ejs') %>
    <div class="container">
        <% if (sales.length>0) { %>
        <div class="grid">
            <% for (let product of sales) { %>
            <article class="card product-item">
                <header class="card__header">
                    <p>
                        <%= product.productData.title %>
                    </p>
                </header>
                <div class="card__image">
                    <img src="<%= product.productData.imageUrl %>" alt="<%=product.productData.title %>">
                </div>
                <div class="card__content">
                    <h3>Profit</h3>
                    <p style="color:rgb(134, 133, 133);">Kshs
                        <%= product.profit %></p>


                    <h3>Total Sale</h3>
                    <p style="color:rgb(134, 133, 133);">Kshs
                        <%= product.total %></p>

                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <!-- <h1 class=" centered">No Sales Yet!</h1> -->
        <% } %>
    </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <div style="width:50%; height: 25%; display: flex; ">
        <canvas id="myChart" width="200" height="100"></canvas>
        <canvas id="myPie" width="200" height="60"></canvas>

     </div>
    <script>
        const labels = sales.months;
        const data = {
          title:' Sales Revenue',
          labels: labels,
          datasets: sales.datasets
        };


    const config = {
          type: 'line',
          data: data,
          options:{}
        };
      

      
      
      </script>
      <script>
        const canvas= document.getElementById('myChart');
        canvas.style.marginLeft='15%';
        canvas.style.width='25%';
        const myChart = new Chart(
          canvas,
          config,
           {
            plugins: {
                labels:{
                    showActualPercentages: true,
                }
  
    } }
        );


        const DATA_COUNT = 5;
const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};

const data1 = {
  labels: sales.products,
  datasets: [
    {
      label: 'Sales By Volume',
      data:sales.totalVolumes
    }
  ]
};


const config1= {
  type: 'pie',
  data: data1,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Sales By Percentage'
      }
    }
  },
};
        const ctx= document.getElementById('myPie');

    
        ctx.style.marginLeft='15%';
        ctx.style.width='25%';
        ctx.style.height='20%';

        var pieChart = new Chart(
            ctx,config1);

      </script>      
</body>

</html>