<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/sales.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/css/all.min.css">
</head>
<body>
    <%- include('../includes/admin-nav.ejs') %>
    <div class="container">
        <% if (sales.length>0) { %>
        <div class="grid">
            <% for (let product of sales) { %>
            <article class="card product-item">
                <header class="card__header">
                    <p>
                        <%= product.productData.title %>
                    </p>
                </header>
                <div class="card__image">
                    <img src="<%= product.productData.imageUrl %>" alt="<%=product.productData.title %>">
                </div>
                <div class="card__content">
                    <h3>Profit</h3>
                    <p style="color:rgb(134, 133, 133);">Kshs
                        <%= product.profit %></p>


                    <h3>Total Sale</h3>
                    <p style="color:rgb(134, 133, 133);">Kshs
                        <%= product.total %></p>

                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1 class=" centered">No Sales Yet!</h1>
        <% } %>
    </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <canvas id="myChart" width="10%" height="10%"></canvas>
<script>
    if (sales.length>0){
        console.log(sales);
        var ctx = document.getElementById('myChart').getContext('2d');
        const type= 'line';
        const data = {
        datasets: [{
            label: 'My First Dataset',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
        };
        var myChart = new Chart(ctx, {
            type: 'bar',
            data,
        options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        }); 
}
</script>
</body>

</html>