<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
<link rel="stylesheet" href="/css/css/all.min.css">


</head>
<%- include('../includes/user-nav') %>
<body>
    <div class="form grid">
        <article class="card">
            <form class="login-form" action="<%= postPath%>" method="POST">
                <%- include('../includes/textFields/email.ejs') %>
                <%- include('../includes/textFields/password.ejs') %>
                <%- include('../includes/csurf.ejs') %>
                <input class="btn" id="login" type="submit" value="Login">
            </form>
            <div class='centered'>
                Forgot Password ?  <a id='reset' href="reset" style="color: rgb(4, 4, 167);">  Reset Password</a>
            </div>
            <div class='centered'>
                 Does not Have an Account ?<a id='sign-up' href="sign-up" style="color: rgb(231, 152, 4);">  Sign Up</a>
            </div>
        </article>
    </div>
    </main>
    <%- include('../includes/end.ejs') %>