<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
<link rel="stylesheet" href="/css/css/all.min.css">


</head>
<%- include('../includes/user-nav') %>
<body>
    <div class="form grid">
        <article class="card">
            <form class="login-form" action="<%= postPath%>" method="POST" novalidate>
                <%- include('../includes/textFields/password.ejs') %>
                <%- include('../includes/textFields/confirmPassword.ejs') %>
                <% if (token) { %>
                <input type="hidden" name="token" value="<%= token %>">
                <% } %>
                <%- include('../includes/csurf.ejs') %>
                <input class="btn" type="submit" id='change-password' value="Submit the New  Password">
            </form>
        </article>
    </div>
    </main>
    <%- include('../includes/end.ejs') %>