<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/css/all.min.css">

    </head>
    <%- include('../includes/user-nav') %>
    <body>
            <div class="form grid">
                <article class="card">
                    <form class="login-form" action="<%= postPath%>" method="POST">
                        <%- include('../includes/textFields/email.ejs') %>
                            <%- include('../includes/csurf.ejs') %>
                                <input class="btn" id='reset' type="submit" value="Reset">
                    </form>
                </article>
            </div>
            </main>
            <%- include('../includes/end.ejs') %>